# Compiled source #
###################
*.class

# Logs and swaps #
##################
*.log
*.swp
*.bak

# Build directories #
#####################
classes
build

# IntelliJ IDEA files #
#######################
*.ipr
*.iws
*.iml
.idea

# Gradle #
##########
.gradle
